
.note {
    width: 90%;
    padding: 3em 2em;
}
.note--blue {
    background: #000000;
    min-height: 400px;
    background: linear-gradient(-150deg, transparent 2em, #ffffff 0);
    border-radius: 0.5em;
}
