@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 145px 50px 145px;
}

.main--left {
    width: 90%;
}
table th {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    border: 1px solid black;
}

table td {
    font-size: 1.5rem;
    border: 1px solid black;
     background-color: #54DAFB;
}

table th {
    /* border: 1px solid black; */
    background: pink;
    /* border-radius: 10px; */
}
table {
    width: 100%;
    margin-bottom: 20px;
}
.main--right__content {
    width: 100%;
}
.main--left__content {
    width: 100%;
}

.content {
    color: #0044ff;
    font-size: 2rem;
    font-weight: 400;
}

.footer--text {
    color: #000000;
}

.btvn--box {
    text-align: start;
    line-height: 3rem;
    font-size: 2rem;
    font-weight: 300;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 10px;
    margin: 0px 0px 20px 0px;
}

.monhoc {
    padding-bottom: 20px;
    font-weight: 500;
    color: #73ff00;
    font-size: 3rem;
    text-transform: uppercase   ;
}

.deadline {
    color: #54DAFB;
    font-size: 2rem;
    font-weight: 500;
}

.main--right {
    /* background-color: #999999; */
    width: 100%;
}