
@media screen and (max-width: 1040px) {
    html {
        font-size: 10px;
        box-sizing: border-box;
    }
    header {
        width: 100vw;
    }
    .header--ctn {
        padding: 0px 10px;
        width: 100vw;
    }
    .icon {
        display:block;
        cursor: pointer;
    }
    #time {
        display: none;
    }
    .main {
        padding: 90px 10px;
    }
    table th {
        font-size: 2rem;
    }
}




@media screen and (max-width: 560px) {

}
